{% extends 'base/base.html' %}
{% load static %}

{% block style_block %}
    <link rel="stylesheet" href="{% static 'style/customers/style_customer_list.css' %}">
{% endblock  %}

{% block body_block %}
    <div class='container_block'>
        <a class='add_new_button' href="{% url 'customer_create' %}"><i class="fas fa-user-plus"></i></a>
        <h2>Clientes cadastrados:</h2>
        
            <table class='display_table'>
                <tr>
                    <td><h2>Nome</h2></td>
                    <td><h2>Endereço</h2></td>
                    <td><h2>Contato</h2></td>
                </tr>
                {% for customer in customer_list %}
                <tr>
                    <td>
                        <h3><a href="{% url 'customer_detail' pk=customer.pk %}">{{ customer.name }}</a></h3>
                    </td>
                    <td>
                        <h3>{{ customer.address }}</h3>
                    </td>
                    <td>
                        <h3>{{ customer.contact }}</h3>
                    </td>
                </tr>
                {% endfor %}
            </table>
            
        
    </div>
{% endblock  %}