{% extends 'base/base.html' %}

{% block body_block %}
    <div class='container top_container'>
        <form method="post">
            {% csrf_token %}
            <h2>Tem certeza que quer apagar o cliente {{ customer.name }}?</h2>
            <div class='buttons top_container'>
                <a class='edit_button' href="{% url 'customer_detail' pk=customer.pk %}"><i class="fas fa-window-close"></i><strong>Cancelar</strong></a>
                <button class='delete_button' type="submit"><i class="fas fa-trash"></i><strong>Confirmar</strong></button>
            </div>
        </form>
    </div>
{% endblock  %}