ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

.add_new_button {
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;

    text-decoration: none;
    cursor: pointer;

    width: 2.5em;
    height: 2.5em;
    font-size: 1.4em;
    border-radius: 30px;
    background-color: var(--add-button-color);
    color: white;
    border: 1px solid var(--add-button-color);
    margin: 0 3em 3em 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add_new_button:hover {
    text-decoration: none;
    color: white;
}

.add_new_button:visited {
    text-decoration: none;
    color: white;
}

.container_block {
    margin: 2em;
}

