<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Gestão de estoque</title>
</head>
<body>
    <div class='container'>
        <nav class='navbar'>
            <img src="{% static 'images/Logo.png' %}" alt="Citel">
            <ul class='links'>
                <li><a href=""></a>Clientes</li>
                <li><a href=""></a>Produtos</li>
                <li><a href=""></a>Serviços</li>
            </ul>
        </nav>
    </div>
    <div>
        {% block body_block %}
        {% endblock  %}
    </div>
</body>
</html>