.container{
    width: 100%;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1d3557;
    color: white;
    
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.navbar img{
    width: 8em;
    height: auto;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    align-items: center;

    font-size: 1.25em;
}

.links a{
    padding: 20px;
}