<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de estoque</title>
</head>
<body>
{% block body_block %}
    <div>
        <nav class='navbar'>
            <img src="C:\Users\citel\Desktop\Nova pasta\prog\símbolo citel" alt="Citel">
            <ul>
                <li><a href=""></a>Adicionar categoria</li>

            </ul>
        </nav>
    </div>
{% endblock  %}
</body>
</html>