<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block style_block %}
    {% endblock  %}
    <title>Gestão de estoque</title>
</head>
<body>
    <div class='container_custom'>
        <nav class='navbar_custom'>
            <a href="{% url 'index' %}"><img src="{% static 'images/Logo.png' %}" alt="Citel"></a>
            <ul class='links_custom'>
                <li><a href="{% url 'customer_view' %}">Clientes</a></li>
                <li><a href="{% url 'product_view' %}">Estoque</a></li>
                <li><a href="">Serviços</a></li>
            </ul>
        </nav>
    </div>
    <div>
        {% block body_block %}
        {% endblock  %}
    </div>
</body>
</html>