{% extends 'base/base.html' %}
{% load static %}

{% block style_block %}
    <link rel="stylesheet" href="{% static 'style/products/style_products_detail.css' %}">
{% endblock  %}

{% block body_block %}
    <div class='container'>
        <div class='content_container'>
            <div class='content_container_text'>
                <h2>Nome: <strong>{{ product.name }}</strong></h2>
                <h3>Tipo de produto: <strong>{{ product.product_type }}</strong></h3>
                <h3>Marca do produto: <strong>{{ product.brand }}</strong></h3>
                <h3>Quantidade em estoque: <strong>{{ product.quantity }}</strong></h3>
            </div>
            {% if product.photo %}
                <img class='product_image' src="{{ product.photo.url }}" alt="">
            {% endif %}
        </div>  
        <div class='buttons'>
            <a class='edit_button' href="{% url 'product_edit' pk=product.pk %}"><i class="fas fa-edit"></i><strong>Editar</strong></a>
            <a class='delete_button' href="{% url 'product_delete' pk=product.pk %}"><i class="fas fa-trash"></i><strong>Excluir</strong></a>
        </div>
        
{% endblock  %}