{% extends 'base/base.html' %}
{% load static %}

{% block style_block %}
    <link 
        rel="stylesheet" 
        href="{% static 'style/products/style_products_list.css' %}"
    >
    
{% endblock  %}

{% block body_block %}
    <div class='container_block'>
        <a class='add_new_button' href="{% url 'product_create' %}">
            <i class="fas fa-plus"></i>
        </a>
        <h2>Produtos disponíveis no estoque:</h2>
        <ul class='custom-list'>
            {% for product in product_list %}
            <li>
                <div class='custom-card fade-in fade-object'>
                    <div class='vertical_bar'>
                        <a
                            class='user_image_link'
                            href="{% url 'product_detail' pk=product.pk %}"
                        >
                            <img
                                class='user_image'
                                src="{{ product.photo.url }}" 
                                alt=""
                            >
                        </a>
                    </div>
                    <div class='custom-text-card'>
                        <h3>{{ product.name }}</h3>
                        <div class='custom-span-card'>
                            <span>{{ product.product_type }}</span>
                            <span>{{ product.brand }}</span>
                            <span><strong>{{ product.quantity }} em estoque</strong></span>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock  %}